{% extends "layout-default.njk" %}

{% block content %}

{% for post in posts %}
     <h3>
        <a href={{"./" + post.slug + ".html"}}>
        {{ post.title }}</a>
     </h3>
{% endfor %}
{% endblock %} 

