{% include "./_includes/header.njk" %}

      <div
        class="px-4 md:px-4 text-xl text-gray-800 leading-normal"
        style="font-family: Georgia, serif"
      >
        
{% block content %}
{% endblock %}
</div>
</div>
{% include "./_includes/footer.njk" %}
